@use 'mixins' as m;
@use 'components/data' as d;

.badge {
  @include d.badge-base;
  @include m.flex($inline: true, $gap: 1);
  white-space: nowrap;
}

.dot {
  padding: 0;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.info    { @include d.badge($status: info); }
.success { @include d.badge($status: success); }
.warning { @include d.badge($status: warning); }
.error   { @include d.badge($status: error); }
