@use 'mixins' as m;
@use 'components/forms' as f;

.wrap {
  display: inline-flex;
  align-items: center;
  gap: m.space(2);
  cursor: pointer;
  user-select: none;
}

.input {
  @include f.switch-base;
}

.label {
  font-size: m.font-size(base);
  color: m.color(text-primary);
}
