@use 'mixins' as m;
@use 'components/forms' as f;

.wrap {
  @include m.flex($inline: true, $gap: 2);
  cursor: pointer;
  user-select: none;
}

.input {
  @include f.check-base;
}

.label {
  font-size: m.font-size(base);
  color: m.color(text-primary);
}

.invalid {
  border-color: m.color(error-default);
}
